service:
    flush: {{ service.flush }}
    grace: {{ service.grace }}
    daemon: {{ service.daemon }}
    dns:
        mode: {{ service.dns_mode }}
    log_file: {{ service.log_file }}
    log_level: {{ service.log_level }}
    http_server: {{ service.http_server }}
    http_listen: {{ service.http_listen }}
    http_port: {{ service.http_port }}
    hot_reload: {{ service.hot_reload }}
    coro_stack_size: {{ service.coro_stack_size }}
    scheduler:
        cap: {{ service.scheduler_cap }}
        base: {{ service.scheduler_base }}
    json:
        convert_nan_to_null: {{ service.json_convert_nan_to_null }}
    sp:
        convert_from_str_to_num: {{ service.sp_convert_from_str_to_num }}

{% if parsers | length > 0 %}
{{ parsers }}
{% endif %}

{% if multiline_parsers | length > 0 %}
{{ multiline_parsers }}
{% endif %}

{% if plugins | length > 0 %}
{{ plugins }}
{% endif %}

{% if upstream_servers | length > 0 %}
{{ upstream_servers }}
{% endif %}

{% if env | length > 0 %}
{{ env }}
{% endif %}

{% if includes | length > 0 %}
{{ includes }}
{% endif %}

pipeline:
    {% if inputs | length > 0 %}
    {{ inputs }}
    {% endif %}
    {% if filters | length > 0 %}
    {{ filters }}
    {% endif %}
    {% if outputs | length > 0 %}
    {{ outputs }}
    {% endif %}