# Fluent-bit service for systemd
[Unit]
Description=Fluent Bit Service
Documentation=https://docs.fluentbit.io/manual/
Requires=network.target
After=network.target

[Service]
Type=simple
ExecStart={{ bin_path }} --config {{ configuration_dir }}/{{ configuration_file_name }}
ExecReload=/bin/systemctl restart fluent-bit.service
KillMode=control-group
Restart=on-failure
RestartSec=5s
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=fluent-bit

[Install]
WantedBy=multi-user.target