service:
    flush: {{ flush }}
    grace: {{ grace }}
    daemon: {{ daemon }}
    dns:
        mode: {{ dns_mode }}
    log_file: {{ log_file }}
    log_level: {{ log_level }}
    http_server: {{ http_server }}
    http_listen: {{ http_listen }}
    http_port: {{ http_port }}
    hot_reload: {{ hot_reload }}
    coro_stack_size: {{ coro_stack_size }}
    scheduler:
        cap: {{ scheduler_cap }}
        base: {{ scheduler_base }}
    json:
        convert_nan_to_null: {{ json_convert_nan_to_null }}
    sp:
        convert_from_str_to_num: {{ sp_convert_from_str_to_num }}

# parsers_file: {{ parsers_file }}
# plugins_file: {{ plugins_file }}
# streams_file: {{ flush }}

parsers: []

multiline_parsers: []

pipeline: {}

plugins: []

upstream_servers: []

env: []

includes:
  - parsers.conf
  - plugins.conf
  - 