# Prometejs Static Site server
server {
    listen              {{ port | default(443) }} {{ ssl | ternary('ssl', '') }};
    listen              [::]:{{ port | default(443) }} {{ ssl | ternary('ssl', '') }};
    server_name         {{ server_name }};
    keepalive_timeout   {{ keepalive_timeout | default('60s') }};

    access_log          {{  }} /var/log/prometejs.ddns.access.log;
    error_log           /var/log/prometejs.ddns.error.log;

    ssl_certificate     /etc/ssl/sites/certs/prometejs.pem;
    ssl_certificate_key /etc/ssl/sites/private/prometejs.key;

    location / {
        root        {{ root | default('/var/www/'+server_name ) }};
        index       index.htm index.html;
        try_files   $uri $uri/ =404;
    }

    location ~* \.(js|jpg|png|css|txt)$ {
        root        {{ root | default('/var/www/'+server_name) }};
        expires     {{ expires | default('1y') }}; # Cache static files for 1 year
        access_log  {{ access_log | default('off') }}; # Turn off access logging for performance
        add_header  Cache-Control "public";
    }
}

# Redirect http to https
server {
    listen      {{ redirect_port | default(80) }};
    listen      [::]:{{ redirect_port | default(80) }};
    server_name {{ server_name }};
    return 301  https://{{ server_name }}$request_uri;
}